# dependencies
node_modules

# next.js
.next
out

# env
.env
.env.local
.env.*.local
.env.production
.env.development

# vercel
.vercel

# logs
*.log

# temporary files
requirements_unzipped
requirements.zip
requirements.docx